:host {
  --editable-bg: #1a1a1a;
  --editable-color: white;

  --readonly-bg: #444;
  --readonly-color: lightgrey;

  --edited-border-color: #fff;
  --default-border-color: #555;

  --save-button-enabled-bg: #28a745;
  --save-button-disabled-bg: #666;
  --delete-button-bg: #ff5555;
  --create-button-bg: #28a745;
  --toggle-button-bg: #6c757d;
  --toggle-local-storage-color: #ddd;
  --toggle-local-storage-hover-bg: #495057;
  --refresh-button-bg: transparent;
  --refresh-button-hover-bg: #495057;
}

:host {
  display: block;
  margin-top: 40px;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input-field {
  padding: 5px;
  border-radius: 4px;
  flex-grow: 1;
  border: 1px solid var(--default-border-color);
  min-width: 0;
}

.input-editable {
  background-color: var(--editable-bg);
  color: var(--editable-color);
}

.input-readonly {
  background-color: var(--readonly-bg);
  color: var(--readonly-color);
}

.input-edited {
  border-color: var(--edited-border-color);
}

.textarea-container {
  margin-left: 10px;
  width: calc(100% - 80px);
}

.textarea-editor {
  width: 100%;
  background-color: var(--editable-bg);
  color: var(--editable-color);
  border: 1px solid var(--default-border-color);
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.button {
  padding: 5px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
}

.button-create {
  padding: 5px 60px;
  background-color: var(--create-button-bg);
}

.button-save {
  background-color: var(--save-button-enabled-bg);
}

.button-save:disabled {
  background-color: var(--save-button-disabled-bg);
}

.button-delete {
  background-color: var(--delete-button-bg);
}

.button-toggle-editor {
  background-color: var(--toggle-button-bg);
  flex-grow: 1;
}

.button-toggle-local-storage {
  background-color: transparent;
  color: var(--toggle-local-storage-color);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--default-border-color);
}

.button-toggle-local-storage:hover {
  background-color: var(--toggle-local-storage-hover-bg);
}

.button-refresh {
  background-color: var(--refresh-button-bg);
  color: var(--toggle-local-storage-color);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--default-border-color);
  margin-left: 5px;
}

.button-refresh:hover {
  background-color: var(--refresh-button-hover-bg);
}

.toggle-expanded {
  background-color: #5a6268;
}

.input-group-buttons {
  display: flex;
  gap: 10px;
  width: auto;
}

@media (max-width: 600px) {
  .input-group {
    flex-direction: column;
    align-items: stretch;
  }

  .button-save,
  .button-delete {
    flex: 1;
    padding: 5px 10px;
  }

  .input-group-buttons {
    gap: 10px;
    width: 100%;
  }
}
