:host {
  --editable-bg: #1a1a1a;
  --editable-color: white;

  --readonly-bg: #444;
  --readonly-color: lightgrey;

  --edited-border-color: #fff;
  --default-border-color: #555;

  --save-button-enabled-bg: #28a745;
  --save-button-disabled-bg: #666;
  --delete-button-bg: #ff5555;
  --create-button-bg: #28a745;
  --toggle-button-bg: #6c757d;
  --toggle-local-storage-color: #ddd;
  --toggle-local-storage-hover-bg: #495057;
}

:host {
  display: block;
  margin-top: 40px; /* Adjust as necessary */
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-field {
  padding: 5px;
  border-radius: 4px;
  flex-grow: 1;
  border: 1px solid var(--default-border-color);
}

.input-editable {
  background-color: var(--editable-bg);
  color: var(--editable-color);
}

.input-readonly {
  background-color: var(--readonly-bg);
  color: var(--readonly-color);
}

.input-edited {
  border-color: var(--edited-border-color);
}

.textarea-container {
  margin-left: 10px; /* Adjust to align with the other elements */
  width: calc(100% - 80px); /* Adjust width to align with delete button */
}

.textarea-editor {
  width: 100%;
  background-color: var(--editable-bg);
  color: var(--editable-color);
  border: 1px solid var(--default-border-color);
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.button {
  padding: 5px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-create {
  padding: 5px 60px;
  background-color: var(--create-button-bg);
}

.button-save {
  background-color: var(--save-button-enabled-bg);
}

.button-save:disabled {
  background-color: var(--save-button-disabled-bg);
}

.button-delete {
  background-color: var(--delete-button-bg);
}

.button-toggle-editor {
  background-color: var(--toggle-button-bg);
  flex-grow: 1; /* Make the toggle button the same width as the value inputs */
}

.button-toggle-local-storage {
  background-color: transparent; /* Remove background color */
  color: var(--toggle-local-storage-color);
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--default-border-color);
}

.button-toggle-local-storage:hover {
  background-color: var(--toggle-local-storage-hover-bg);
}

.toggle-expanded {
  background-color: #5a6268; /* Slightly darker when expanded */
}
