<div class="folded" *ngIf="!editMode">
  <app-labeled-text-input
    [label]="label"
    [type]="type"
    [text]="currentText"
    [disabled]="true"
  ></app-labeled-text-input>
  <div class="button-column">
    <button class="edit-button button" (click)="activateEditMode()">✏️</button>
  </div>
</div>
<div class="expanded" *ngIf="editMode">
  <app-labeled-text-input
    class="expanded"
    [label]="label"
    [type]="type"
    [(text)]="currentText"
  ></app-labeled-text-input>
  <div class="button-column">
    <button
      class="save-button button"
      (click)="save()"
      [disabled]="currentText === text"
    >
      💾
    </button>
    <button class="discard-button button" (click)="discard()">❌</button>
  </div>
</div>
