<app-form-field-textarea
  label="GUID"
  [text]="ankiCard.guid"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="index"
  [text]="ankiCard.index !== undefined ? '' + ankiCard.index : ''"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="Hanzi"
  [text]="ankiCard.hanzi"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="English"
  [text]="ankiCard.english"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="Pinyin"
  [text]="ankiCard.pinyin"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="Sound"
  [text]="ankiCard.sound"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="Override TTS"
  [text]="ankiCard.overrideTTS"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="Heisig Keywords"
  [text]="ankiCard.heisigKeywords"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="Image"
  [text]="ankiCard.image"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="Skill"
  [text]="ankiCard.skill"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="Lesson"
  [text]="ankiCard.lesson"
  [readonly]="true"
></app-form-field-textarea>

<app-form-field-textarea
  label="Notes"
  [text]="ankiCard.notes"
  [rows]="20"
  [readonly]="true"
></app-form-field-textarea>
