<div class="input-container">
  <div class="input-wrapper">
    <label for="userInput">Enter Chinese Text:</label>
    <input
      id="userInput"
      type="text"
      [(ngModel)]="userInput"
      (input)="onUserInputChange()"
    />
    <app-favorite-button
      [hanziString]="userInput"
      [type]="'sentence'"
    ></app-favorite-button>
    <button class="paste-button" (click)="pasteFromClipboard()">📋</button>
    <button class="reset-button" (click)="resetInput()">&#x2715;</button>
  </div>
</div>
