/* input-text.component.scss */

.input-container {
  position: relative;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Padding right für Platzierung des Buttons */
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.reset-button {
  position: absolute;
  right: 10px; /* Platzierung des Buttons rechts */
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #888;
  padding-left: 10px; /* Mehr Platz zwischen Button und Text */
}

.reset-button:hover {
  color: #333;
}
