.input-container {
  position: relative;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 10px 70px 10px 10px; /* Padding right für Platzierung der Buttons */
  font-size: 1.2em;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  color: #888;
}

button:hover {
  color: #333;
}

.paste-button {
  right: 40px; /* Platzierung des Paste-Buttons rechts */
}

.reset-button {
  right: 10px; /* Platzierung des Reset-Buttons rechts */
}
