.anki-container {
  padding: 20px;
  background-color: #1e1e1e;
  color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h2 {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  background-color: #2c2c2c;
  margin-bottom: 10px;
  border-radius: 5px;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li .text-container {
  display: flex;
  flex-direction: column;
}

li .hanzi {
  font-size: 1.4em;
}

li .translation {
  color: #b0bec5;
  margin-top: 5px;
}

p {
  color: #b0bec5;
}

button {
  background-color: #3a3a3a;
  color: #e0e0e0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555555;
}
