/* General container styling */
.translation-audio-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #80cbc4;
  z-index: 1;
  background-color: #1e1e1e;
  border: 1px solid #37474f;
}

/* Audio buttons container styling */
.container-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  right: 1em;
}

/* Content container styling */
.content {
  flex-grow: 1;
  width: 100%;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .translation-audio-container {
    padding-left: 3px;
    padding-right: 3px;
  }
}
