<app-search-filter-input
  (textChange)="onSearchFilterTextChange($event)"
></app-search-filter-input>

<div class="filter-buttons">
  <app-toggle-button
    [options]="['to export: 🤷', 'to export: ✔️', 'to export: ❌']"
    [(selectedOption)]="markedForExportFilter"
    (selectedOptionChange)="onToggleChange()"
  ></app-toggle-button>
  <app-toggle-button
    [options]="['exported: 🤷', 'exported: ✔️', 'exported: ❌']"
    [(selectedOption)]="exportedFilter"
    (selectedOptionChange)="onToggleChange()"
  ></app-toggle-button>
  <app-toggle-button
    [options]="['imported: 🤷', 'imported: ✔️', 'imported: ❌']"
    [(selectedOption)]="importedFilter"
    (selectedOptionChange)="onToggleChange()"
  ></app-toggle-button>
  <app-toggle-button
    [options]="['all', 'word', 'sentence']"
    [(selectedOption)]="wordSentenceFilter"
    (selectedOptionChange)="onToggleChange()"
  ></app-toggle-button>
</div>

<div *ngIf="!isCarouselVisible">
  <app-vocab-list
    [vocabItems]="vocabItems"
    (delete)="deleteVocabItem($event)"
    (edit)="showCarousel($event)"
  ></app-vocab-list>
</div>

<div *ngIf="isCarouselVisible">
  <app-vocab-carousel
    [vocabItems]="vocabItems"
    [initialIndex]="carouselIndex"
    (delete)="deleteVocabItem($event)"
    (close)="hideCarousel()"
  ></app-vocab-carousel>
</div>
