.filter-buttons {
  margin-bottom: 15px;
}

.filter-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-btn {
  margin-right: 10px;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #3a3a3a;
  color: #80cbc4;
  border: none;
  border-radius: 4px;
}

app-toggle-button {
  display: inline-block;
}
