<!-- app.component.html -->
<div class="container">
  <label for="userInput">Enter text:</label>
  <div class="input-container">
    <input id="userInput" type="text" [(ngModel)]="userInput" />
    <button class="reset-button" (click)="resetInput()">&#x2715;</button>
  </div>

  <app-sentence-translation
    [userInput]="userInput"
    targetLang="en-US"
  ></app-sentence-translation>

  <app-sentence-translation
    [userInput]="userInput"
    targetLang="de-DE"
  ></app-sentence-translation>

  <app-single-char-translation
    [userInput]="userInput"
  ></app-single-char-translation>
</div>
