<!-- app.component.html -->
<div class="container">
  <label for="userInput">Enter text:</label>
  <div class="input-container">
    <input
      id="userInput"
      type="text"
      [(ngModel)]="userInput"
      (input)="onUserInputChange()"
    />
    <button class="reset-button" (click)="resetInput()">&#x2715;</button>
  </div>

  <div class="output translation-output">
    <p *ngIf="!isLoading">
      {{ translation }}
      <app-play-audio
        *ngIf="!isLoading"
        [text]="translation"
        lang="en-US"
      ></app-play-audio>
    </p>
    <p *ngIf="isLoading">Translating...</p>
  </div>

  <div class="output translation-output">
    <p *ngIf="!isLoading">
      {{ germanTranslation }}
      <app-play-audio
        *ngIf="!isLoading"
        [text]="germanTranslation"
        lang="de-DE"
      ></app-play-audio>
    </p>
    <p *ngIf="isLoading">Translating...</p>
  </div>

  <app-single-char-translation
    [userInput]="userInput"
  ></app-single-char-translation>
</div>
