<!-- app.component.html -->
<div class="container">
  <label for="userInput">Enter text:</label>
  <div class="input-container">
    <input
      id="userInput"
      type="text"
      [(ngModel)]="userInput"
      (input)="onUserInputChange()"
    />
    <button class="reset-button" (click)="resetInput()">&#x2715;</button>
  </div>

  <div class="output translation-output">
    <p *ngIf="!isLoading">{{ translation }}</p>
    <p *ngIf="isLoading">Translating...</p>
  </div>

  <div class="output">
    <div class="character-group" *ngFor="let item of pinyinTranslation">
      <div class="pinyin">{{ item.pinyin }}</div>
      <div class="char">{{ item.char }}</div>
      <div class="translation">{{ mapping[item.char] || item.char }}</div>
    </div>
  </div>
</div>
