.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 20px 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0px 10px 10px;
    box-shadow: none;
    border-radius: 0;
  }
}
