<app-container-with-buttons>
  <app-audio-button
    [text]="translation"
    [language]="targetLang"
    label="Translation"
    container-buttons
  ></app-audio-button>

  <app-toggle-button
    [options]="[GuessModeToggleOptions.Hide, GuessModeToggleOptions.Show]"
    [(selectedOption)]="selectedGuessModeToggleOption"
    (selectedOptionChange)="onGuessModeToggleOptionChange()"
    container-buttons
  ></app-toggle-button>

  <div class="translation-content" (click)="revealTranslation()">
    <p
      *ngIf="!isLoading && !debounceInProgress"
      [ngClass]="{
        blurred:
          !isRevealed &&
          selectedGuessModeToggleOption === GuessModeToggleOptions.Hide
      }"
    >
      {{ translation }}
    </p>
    <p *ngIf="debounceInProgress">Waiting until input stops...</p>
    <p *ngIf="isLoading">Translating...</p>
  </div>
</app-container-with-buttons>
