.translation-content p.blurred {
  filter: blur(5px);
  cursor: pointer;
  user-select: none;
}

.translation-content p {
  margin: 0;
  padding: 5px 10px;
}

@media (max-width: 600px) {
  .translation-content p {
    padding: 0px 5px;
  }
}
