.translations {
  background-color: #2c2c2c;
  padding: 15px 5px;
  border-radius: 8px;
  overflow: hidden;
  margin: 15px 0;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.translations-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.translations-table tbody tr {
  border-bottom: 1px solid #455a64;
}

.translations-table tbody tr:last-child {
  border-bottom: none;
}

.audio-button-cell {
  width: 2em;
  text-align: center;
}

.hanzi-column {
  width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px 0 5px;
  color: #e0e0e0;
}

.translation-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  color: #b0bec5;
}

.audio-button-small {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #b0bec5;
  border-radius: 0.5em;
  padding: 2px;
  cursor: pointer;
  background-color: #3c3c3c;
  border: 1px solid #455a64;
  min-width: 2em;
  font-size: 0.9em;
}

.audio-button-small:hover {
  color: #80cbc4;
  border-color: #80cbc4;
}
