<div *ngIf="detail" class="heisig-item">
  <span class="heisig-text">
    {{ detail.hanzi }} {{ detail.pinyin }} - {{ detail.keyword }}
    <small class="heisig-number">[{{ detail.heisigNumber }}]</small>
    <button
      class="audio-button"
      (click)="playAudio($event, detail.hanzi, 'zh-CN')"
    >
      🔊 <span class="audio-label">CH</span>
    </button>
    <button
      class="audio-button"
      (click)="playAudio($event, detail.keyword, 'en-US')"
    >
      🔊 <span class="audio-label">EN</span>
    </button>
    <button
      class="toggle-button"
      (click)="toggleExpansion(detail.hanzi, $event)"
    >
      📖 {{ isExpanded(detail.hanzi) ? "▲" : "▼" }}
    </button>
    <button
      class="toggle-details-button"
      (click)="toggleDetails(detail.hanzi, $event)"
    >
      {{ isDetailsExpanded(detail.hanzi) ? "Details ▲" : "Details ▼" }}
    </button>
  </span>
  <div
    *ngIf="isExpanded(detail.hanzi)"
    class="expanded-translations translations-grid"
  >
    <ng-container
      *ngFor="
        let entry of (getTranslationsContainingCharacter(detail.hanzi)
          | async) || []
      "
    >
      <div class="grid-row">
        <button (click)="playAudio($event, entry.hanzi, 'zh-CN')">🔊</button>
        <span class="hanzi-column">{{ entry.hanzi }}</span>
        <button (click)="playAudio($event, entry.translations[0])">🔊</button>
        <span class="translation-column">{{
          cropTranslation(entry.translations[0])
        }}</span>
      </div>
    </ng-container>
  </div>
  <div *ngIf="isDetailsExpanded(detail.hanzi)" class="heisig-details">
    <h3>
      {{ detail.keywordDe }}
      <small class="stroke-count">({{ detail.strokeCount }} Strokes)</small>
    </h3>
    <p *ngIf="detail.story" class="story">
      <span class="quote">”</span>{{ detail.story }}
    </p>
    <p *ngIf="detail.storyDe" class="story">
      <span class="quote">”</span>{{ detail.storyDe }}
    </p>
    <div class="components" *ngIf="detail.components.length > 0">
      <p>Components:</p>
      <ng-container *ngFor="let component of detail.components">
        <app-heisig-details [hanzi]="component.hanzi"></app-heisig-details>
      </ng-container>
    </div>
  </div>
</div>
