<div *ngIf="detail" class="heisig-item">
  <span class="heisig-text">
    <img
      style="filter: invert(1); height: 1em"
      *ngIf="isPrimitiveWithImage()"
      [src]="getPrimitiveImageFileName()"
    />
    {{ !isPrimitiveWithImage() ? detail.hanzi : "" }} {{ detail.pinyin }} -
    {{ detail.keyword }}
    <small class="heisig-number">[{{ detail.heisigNumber }}]</small>
    <button
      class="audio-button"
      (click)="playAudio($event, detail.hanzi, 'zh-CN')"
    >
      🔊
    </button>
    <button
      class="audio-button"
      (click)="playAudio($event, detail.keyword, 'en-US')"
    >
      🔊
    </button>
    <button
      class="toggle-button"
      (click)="toggleOccurrencesExpansion(detail.hanzi, $event)"
    >
      📖 {{ isOccurrencesExpanded(detail.hanzi) ? "▲" : "▼" }}
    </button>
    <button
      class="toggle-details-button"
      (click)="toggleHeisigDetailsExpansion(detail.hanzi, $event)"
    >
      {{ isHeisigDetailsExpanded(detail.hanzi) ? "Details ▲" : "Details ▼" }}
    </button>
  </span>
  <app-dictionary-occurrences
    *ngIf="isOccurrencesExpanded(detail.hanzi)"
    [hanziChar]="detail.hanzi"
  ></app-dictionary-occurrences>
  <div *ngIf="isHeisigDetailsExpanded(detail.hanzi)" class="heisig-details">
    <h3>
      {{ detail.keywordDe }}
      <small class="stroke-count">({{ detail.strokeCount }} Strokes)</small>
    </h3>
    <img
      style="filter: invert(1)"
      *ngIf="isPrimitiveWithImage()"
      [src]="getPrimitiveImageFileName()"
    />
    <p *ngIf="detail.story" class="story">
      <span class="quote">”</span>{{ detail.story }}
      <button
        class="audio-button-story"
        (click)="playAudio($event, detail.story, 'en-US')"
      >
        🔊
      </button>
    </p>
    <p *ngIf="detail.storyDe" class="story">
      <span class="quote">”</span>{{ detail.storyDe }}
      <button
        class="audio-button-story"
        (click)="playAudio($event, detail.storyDe, 'de-DE')"
      >
        🔊
      </button>
    </p>
    <div class="components" *ngIf="detail.components.length > 0">
      <p>Components:</p>
      <ng-container *ngFor="let component of detail.components">
        <app-heisig-details [hanzi]="component.hanzi"></app-heisig-details>
      </ng-container>
    </div>
  </div>
</div>
