<div *ngIf="detail" class="heisig-item">
  <span class="heisig-text">
    {{ detail.hanzi }} - {{ detail.keyword }}
    <button (click)="playAudio($event, detail.keyword)">🔊</button>
  </span>
  <button class="toggle-button" (click)="toggleExpansion(detail.hanzi, $event)">
    {{ isExpanded(detail.hanzi) ? "▲" : "▼" }}
  </button>
  <button
    class="toggle-details-button"
    (click)="toggleDetails(detail.hanzi, $event)"
  >
    {{ isDetailsExpanded(detail.hanzi) ? "Details ▲" : "Details ▼" }}
  </button>
  <div
    *ngIf="isExpanded(detail.hanzi)"
    class="expanded-translations translations-grid"
  >
    <ng-container
      *ngFor="
        let entry of (getTranslationsContainingCharacter(detail.hanzi)
          | async) || []
      "
    >
      <div class="grid-row">
        <button (click)="playAudio($event, entry.hanzi, 'zh-CN')">🔊</button>
        <span class="hanzi-column">{{ entry.hanzi }}</span>
        <button (click)="playAudio($event, entry.translations[0])">🔊</button>
        <span class="translation-column">{{
          cropTranslation(entry.translations[0])
        }}</span>
      </div>
    </ng-container>
  </div>
  <div *ngIf="isDetailsExpanded(detail.hanzi)" class="heisig-details">
    <p><strong>Keyword:</strong> {{ detail.keyword }}</p>
    <p><strong>Keyword (DE):</strong> {{ detail.keywordDe }}</p>
    <p><strong>Hanzi:</strong> {{ detail.hanzi }}</p>
    <p><strong>Traditional:</strong> {{ detail.traditional }}</p>
    <p><strong>Heisig Number:</strong> {{ detail.heisigNumber }}</p>
    <p><strong>Heisig Sequence:</strong> {{ detail.heisigSequence }}</p>
    <p><strong>Story:</strong> {{ detail.story }}</p>
    <p><strong>Story (DE):</strong> {{ detail.storyDe }}</p>
    <p><strong>Stroke Count:</strong> {{ detail.strokeCount }}</p>
    <p><strong>Pinyin:</strong> {{ detail.pinyin }}</p>
    <p><strong>Components Hanzi:</strong> {{ detail.componentsHanzi }}</p>
    <p><strong>Components Pinyin:</strong> {{ detail.componentsPinyin }}</p>
    <p><strong>Components Keywords:</strong> {{ detail.componentsKeywords }}</p>
    <p>
      <strong>Components Keywords (DE):</strong>
      {{ detail.componentsKeywordsDe }}
    </p>
  </div>
</div>
