<app-translation-and-audio-container [text]="wordHanzi" [language]="'zh-CN'">
  <h1>{{ simpleTranslation$ | async }} - {{ wordHanzi }} - {{ pinyin }}</h1>

  <h2>Translations:</h2>
  <ng-container *ngFor="let entry of allTranslations$ | async">
    <strong *ngIf="entry.pinyin && (displayPinyin$ | async)">
      {{ entry.pinyin }}
    </strong>
    <ul>
      <li
        *ngFor="let translation of entry.translations"
        [ngClass]="{ 'online-translation': entry.usedApi }"
      >
        {{ translation }}
        <button (click)="playAudio($event, translation)">🔊</button>
      </li>
    </ul>
  </ng-container>

  <h2>Heisig:</h2>
  <ul class="heisig">
    <li *ngFor="let detail of heisigDetails">
      {{ detail.hanzi }} - {{ detail.heisig }}
      <button (click)="playAudio($event, detail.heisig)">🔊</button>
    </li>
  </ul>
</app-translation-and-audio-container>
