ul {
  padding-left: 20px;
  margin: 0; /* Remove default margin */
}

.translations-grid {
  display: grid;
  grid-template-columns: auto minmax(auto, 33%) auto 1fr;
  column-gap: 5px; /* Adjust column gap for consistent spacing */
  row-gap: 5px;
  align-items: center;
}

.grid-row {
  display: contents; /* To make the child elements respect the grid layout */
}

.hanzi-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.translation-column {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.9em; /* Slightly reduce the font size */
  vertical-align: middle; /* Align button vertically in the middle */
  line-height: 1; /* Ensure button does not increase line height */
  padding: 0; /* Remove padding */
}

button:hover {
  color: #00796b;
}

.online-translation {
  font-style: italic;
}

.clickable {
  cursor: pointer;
  user-select: none;
}

.clickable:hover {
  background-color: #f0f0f0;
}

.expanded-translations {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.expanded-translations .grid-row {
  padding: 5px 0;
}
