<app-input-text
  (userInputChange)="onUserInputChange($event)"
  [customSegmentation]="customSegmentation"
></app-input-text>

<app-sentence-translation
  [userInput]="userInput"
  targetLang="en-US"
></app-sentence-translation>
<app-sentence-translation
  [userInput]="userInput"
  targetLang="de-DE"
></app-sentence-translation>
<app-segmentation
  [userInput]="userInput"
  (wordSelected)="onWordSelected($event)"
  [selectedWord]="selectedWord"
  [(customSegmentation)]="customSegmentation"
></app-segmentation>
<app-word-details
  *ngIf="selectedWord"
  [wordHanzi]="selectedWord"
  [context]="userInput"
></app-word-details>
