<div class="vocab-item-form">
  <app-form-field-text
    label="uuid"
    [(text)]="modifiedItem.uuid"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-text
    label="Anki GUID"
    [(text)]="modifiedItem.ankiGuid"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-number
    label="Anki Index"
    [(number)]="modifiedItem.ankiIndex"
    (numberChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Hanzi"
    [(text)]="modifiedItem.hanzi"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="English"
    [(text)]="modifiedItem.english"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Pinyin"
    [(text)]="modifiedItem.pinyin"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Sound"
    [(text)]="modifiedItem.sound"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Override TTS"
    [(text)]="modifiedItem.overrideTTS"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Heisig Keywords"
    [(text)]="modifiedItem.heisigKeywords"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Image"
    [(text)]="modifiedItem.image"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Skill"
    [(text)]="modifiedItem.skill"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Lesson"
    [(text)]="modifiedItem.lesson"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Notes"
    [(text)]="modifiedItem.notes"
    (textChange)="onInputChange(); save()"
    [rows]="20"
  />

  <app-form-field-object
    label="Segmentation"
    [(object)]="modifiedItem.segmentation"
    (objectChange)="onInputChange(); save()"
  />

  <app-form-field-object
    label="From Input Sentence"
    [(object)]="modifiedItem.fromInputSentence"
    (objectChange)="onInputChange(); save()"
  />

  <app-form-field-object
    label="All Translations"
    [(object)]="modifiedItem.allTranslations"
    (objectChange)="onInputChange(); save()"
  />

  <!-- Flags -->
  <label>
    <input
      type="checkbox"
      [(ngModel)]="modifiedItem.importedFromAnki"
      (change)="onInputChange()"
    />
    Imported from Anki
  </label>

  <label>
    <input
      type="checkbox"
      [(ngModel)]="modifiedItem.exportedToAnki"
      (change)="onInputChange()"
    />
    Exported to Anki
  </label>

  <label>
    <input
      type="checkbox"
      [(ngModel)]="modifiedItem.markedForAnkiExport"
      (change)="onInputChange()"
    />
    Marked for Anki Export
  </label>

  <label>
    <input
      type="checkbox"
      [(ngModel)]="modifiedItem.isSentence"
      (change)="onInputChange()"
    />
    Is Sentence
  </label>

  <label>
    <input
      type="checkbox"
      [(ngModel)]="modifiedItem.isWord"
      (change)="onInputChange()"
    />
    Is Word
  </label>

  <button (click)="autoFill()">Auto-Fill</button>
  <button class="primary" (click)="save()" [disabled]="!isModified">
    Save
  </button>
</div>
