<div class="vocab-item-form">
  <app-form-field-text
    label="uuid"
    [(text)]="modifiedItem.uuid"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-text
    label="Anki GUID"
    [(text)]="modifiedItem.ankiGuid"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-number
    label="Anki Index"
    [(number)]="modifiedItem.ankiIndex"
    (numberChange)="onInputChange(); save()"
  />

  <div class="variant-container">
    <a
      class="variant-link"
      *ngIf="modifiedItem.otherVariants.hanzi.length > 0"
      (click)="onHanziVariantsClick()"
    >
      {{ modifiedItem.otherVariants.hanzi.length + 1 }} Variants 🗂️
    </a>
    <app-form-field-textarea
      label="Hanzi"
      [(text)]="modifiedItem.hanzi"
      (textChange)="onInputChange(); save()"
    />
  </div>

  <div class="variant-container">
    <a
      class="variant-link"
      *ngIf="modifiedItem.otherVariants.english.length > 0"
      (click)="onEnglishVariantsClick()"
    >
      {{ modifiedItem.otherVariants.english.length + 1 }} Variants 🗂️
    </a>
    <app-form-field-textarea
      label="English"
      [(text)]="modifiedItem.english"
      (textChange)="onInputChange(); save()"
    />
  </div>

  <div class="variant-container">
    <a
      class="variant-link"
      *ngIf="modifiedItem.otherVariants.pinyin.length > 0"
      (click)="onPinyinVariantsClick()"
    >
      {{ modifiedItem.otherVariants.pinyin.length + 1 }} Variants 🗂️
    </a>
    <app-form-field-textarea
      label="Pinyin"
      [(text)]="modifiedItem.pinyin"
      (textChange)="onInputChange(); save()"
    />
  </div>

  <app-form-field-textarea
    label="Sound"
    [(text)]="modifiedItem.sound"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Override TTS"
    [(text)]="modifiedItem.overrideTTS"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Heisig Keywords"
    [(text)]="modifiedItem.heisigKeywords"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Image"
    [(text)]="modifiedItem.image"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Skill"
    [(text)]="modifiedItem.skill"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Lesson"
    [(text)]="modifiedItem.lesson"
    (textChange)="onInputChange(); save()"
  />

  <app-form-field-textarea
    label="Notes"
    [(text)]="modifiedItem.notes"
    (textChange)="onInputChange(); save()"
    [rows]="20"
  />

  <app-form-field-object
    label="Segmentation"
    [(object)]="modifiedItem.segmentation"
    (objectChange)="onInputChange(); save()"
  />

  <div *ngIf="modifiedItem.segmentIn.length > 0">
    segmentIn: {{ modifiedItem.segmentIn | json }}
  </div>

  <app-form-field-object
    label="All Translations"
    [(object)]="modifiedItem.allTranslations"
    (objectChange)="onInputChange(); save()"
  />

  <!-- Flags -->
  <label>
    <input
      type="checkbox"
      [(ngModel)]="modifiedItem.importedFromAnki"
      (change)="onInputChange()"
    />
    Imported from Anki
  </label>

  <label>
    <input
      type="checkbox"
      [(ngModel)]="modifiedItem.exportedToAnki"
      (change)="onInputChange()"
    />
    Exported to Anki
  </label>

  <label>
    <input
      type="checkbox"
      [(ngModel)]="modifiedItem.markedForAnkiExport"
      (change)="onInputChange()"
    />
    Marked for Anki Export
  </label>

  <label>
    <input
      type="checkbox"
      disabled="true"
      [checked]="modifiedItem.isSentence"
    />
    Is Sentence
  </label>

  <label>
    <input type="checkbox" disabled="true" [checked]="modifiedItem.isWord" />
    Is Word
  </label>

  <button (click)="autoFill()">Auto-Fill</button>
  <button class="primary" (click)="save()" [disabled]="!isModified">
    Save
  </button>
</div>
