<app-container-with-buttons>
  <app-toggle-button
    [options]="[
      ToggleOptions.Off,
      ToggleOptions.Word,
      ToggleOptions.Chinese,
      ToggleOptions.Heisig
    ]"
    [(ngModel)]="selectedToggleOption"
    (optionSelected)="onToggleOptionChange($event)"
    container-buttons
  ></app-toggle-button>

  <app-audio-button
    [text]="wordsTTS"
    [language]="'en-US'"
    label="English"
    container-buttons
  ></app-audio-button>
  <app-audio-button
    [text]="userInput"
    [language]="'zh-CN'"
    label="Chinese"
    container-buttons
  ></app-audio-button>
  <app-audio-button
    [text]="heisigTTS"
    [language]="'en-US'"
    label="Heisig"
    container-buttons
  ></app-audio-button>

  <div class="word-group-container">
    <app-single-word
      *ngFor="let hanziWord of hanziWords"
      [hanziWord]="hanziWord"
      (wordClicked)="onWordClick($event)"
      [isSelected]="hanziWord === selectedWord"
      [toggleOption]="selectedToggleOption"
    ></app-single-word>
  </div>
</app-container-with-buttons>
