<app-container-with-buttons>
  <app-audio-button
    [text]="heisigTTS"
    [language]="'en-US'"
    label="Heisig"
    container-buttons
  ></app-audio-button>

  <app-audio-button
    [text]="userInput"
    [language]="'zh-CN'"
    label="Chinese"
    container-buttons
  ></app-audio-button>

  <app-audio-button
    [text]="wordsTTS"
    [language]="'en-US'"
    label="English"
    container-buttons
  ></app-audio-button>

  <app-toggle-button
    [options]="[
      SoundToggleOptions.Off,
      SoundToggleOptions.Word,
      SoundToggleOptions.Chinese,
      SoundToggleOptions.Heisig
    ]"
    [(selectedOption)]="selectedSoundToggleOption"
    (selectedOptionChange)="onSoundToggleOptionChange()"
    container-buttons
  ></app-toggle-button>

  <app-toggle-button
    [options]="[GuessModeToggleOptions.Hide, GuessModeToggleOptions.Show]"
    [(selectedOption)]="selectedGuessModeToggleOption"
    (selectedOptionChange)="onGuessModeToggleOptionChange()"
    container-buttons
  ></app-toggle-button>

  <app-toggle-button
    [options]="['Hiding Frequency', 'Showing Frequency']"
    [(selectedOption)]="showWordFrequency"
    (selectedOptionChange)="onShowWordFrequencyToggleOptionChange()"
    container-buttons
  ></app-toggle-button>

  <div class="word-group-container">
    <app-single-word
      *ngFor="let hanziWord of hanziWords"
      [hanziWord]="hanziWord"
      (wordClicked)="onWordClick($event)"
      [isSelected]="hanziWord === selectedWord"
      [toggleOption]="selectedSoundToggleOption"
      [guessMode]="selectedGuessModeToggleOption"
      [showWordFrequency]="showWordFrequency === 'Showing Frequency'"
    ></app-single-word>
  </div>

  <app-custom-segmentation
    [(text)]="customSegmentation"
    (input)="onCustomSegmentationChange()"
  ></app-custom-segmentation>
</app-container-with-buttons>
