<div
  class="word-container"
  [ngClass]="{
    selected: isSelected,
    hidden: isHidden(),
    'category-5':
      (showWordFrequency && frequencyCategory === 5) || frequencyCategory === 0,
    'category-4': showWordFrequency && frequencyCategory === 4,
    'category-3': showWordFrequency && frequencyCategory === 3,
    'category-2': showWordFrequency && frequencyCategory === 2,
    'category-1': showWordFrequency && frequencyCategory === 1
  }"
  (click)="onWordClick()"
>
  <span
    class="word-label"
    *ngIf="!isHidden()"
    [ngClass]="{ 'api-translation': isApiTranslation }"
    >{{ translation }}</span
  >
  <div class="character-group">
    <app-single-character
      *ngFor="let hanziCharacter of hanziCharacters"
      [hanzi]="hanziCharacter"
      [guessMode]="guessMode"
    ></app-single-character>
  </div>
</div>
