button {
  position: relative;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

button[disabled] {
  filter: grayscale(100%) contrast(0);
}

.plus,
.count {
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.plus {
  position: absolute;
  top: -0.3em;
  right: 0;
  font-size: 1em;
}

.count {
  position: absolute;
  bottom: -0.2em;
  right: 0.4em;
  font-size: 0.5em;
}
