button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 70px;
  padding: 0;
  color: #b0bec5;
}

button:hover {
  color: #e0e0e0;
}

.filled {
  color: #d4af37;
}

button:hover .filled {
  color: #e0c066;
}
