.translation-audio-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #00796b;
}

.filled-and-bordered {
  background-color: #e0f7fa;
  border: 1px solid #b2ebf2;
  cursor: pointer;
}

.content {
  flex-grow: 1;
}

.audio-circle {
  position: absolute;
  top: -0.5em; /* Adjust to position on the top edge */
  right: -0.5em; /* Adjust to position on the right edge */
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00796b;
  border-radius: 50%;
  padding: 2px;
}

.audio-icon {
  font-size: 0.8em;
}

/* Media query for narrow screens */
@media (max-width: 600px) {
  .translation-audio-container {
    padding-left: 3px;
    padding-right: 3px;
  }
}
