.translation-audio-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #80cbc4;
  z-index: 1;
}

.filled-and-bordered {
  background-color: #1e1e1e;
  border: 1px solid #37474f;
}

.content {
  flex-grow: 1;
  width: 100%;
}

.audio-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: -1em;
  right: 1em;
}

.audio-button {
  width: 2.5em;
  height: 1.35em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #80cbc4;
  border-radius: 0.5em;
  padding: 2px;
  cursor: pointer;
  margin-left: 0.5em;
}

.audio-icon {
  font-size: 0.8em;
}

@media (max-width: 600px) {
  .translation-audio-container {
    padding-left: 3px;
    padding-right: 3px;
  }

  .audio-buttons {
    top: -0.5em;
    right: 0.5em;
  }

  .audio-button {
    width: 2em;
    height: 1.1em;
  }

  .audio-icon {
    font-size: 0.7em;
  }
}
